.App {
  text-align: center;
  height: 100vh;
}

.On {
  background-color: white;
  color: black;
}

.Off {
  background-color: black;
  color: white;
}

button {
  font-size: 25px;
  padding: 1rem;
}